* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    font-family: sans-serif;
}

nav {
  width: 80%;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  height: 64px;
}

nav li {
  display: inline;
  font-size: 24px;
  line-height: 32px;
}

nav li img {
  vertical-align: top;

}

.content {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 128px;
  letter-spacing: -13px;
      font-family: 'Comfortaa', sans-serif;
}

h2 {
  font-size: 32px;
  letter-spacing: -4px;
        font-family: 'Comfortaa', sans-serif;

}

.big {
  font-size: 170px;
  font-weight: lighter;
}

.content p {
  text-align: justify;
}

.row-yellow {
  width: 100%;
  background-color: #f8c93b;
  padding: 0 8px;
  display: block;
}

.row-yellow::after {
  position: relative;
  top: 16px;
  left: 16px;
  width: 100%;
  height: 100%;
  border: 3px solid black;
}
.column-3 {
  width: 33%;
  padding: 16px;
  vertical-align: top;
  display: inline-block;
}
