* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    font-family: sans-serif;
    color: #2b2b2b;
    background-color: #efefef;
    /* style="background-color:#dbdcde; "*/
}

nav {
  width: auto;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  height: 64px;
}

nav li {
  display: inline;
  font-size: 24px;
  line-height: 32px;
}

nav li img {
  vertical-align: top;

}

.content {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 128px;
  letter-spacing: -13px;
      font-family: 'Comfortaa', sans-serif;
      text-align: center;
      color: #fff;
}

.title {
  padding: 16px 32px 12px 16px;
    background-color: #fed70e;
}

h2 {
  font-size: 32px;
  letter-spacing: -2px;
  font-family: 'Comfortaa', sans-serif;
  margin-top: 0px;
}

h3 {
  text-align: center;
}

.big {
  font-size: 170px;
  font-weight: lighter;
}

.period {
  margin-left: 8px;
  color: #21409a;
}

.content p {
  text-align: justify;
}

.subtitle {
  color: #FFF;
    font-family: 'Comfortaa', sans-serif;
  font-size: 128px;
  line-height: 96px;
  padding: 16px 8px ;
}

.box-yellow-6 {
  width: 66%;
  height: 100%;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}

.column-3 {
  width: auto;
  padding: 16px;
  vertical-align: top;
  display: inline-block;
  background-color: ;
}

.row {
  width: 100%;
}

.square {
  height: 128px;
  width: 128px;
  background-color: #f7d32d;
  display: inline-block;
  font-family: 'Comfortaa', sans-serif;
  text-align: right;
  font-size: 128px;
  line-height: 96px;
  padding: 16px 8px ;
}