* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    font-family: sans-serif;
    color: #2b2b2b;
    background-color: #efefef;
}

nav {
  margin: 0 auto;
  width: auto;
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  font-size: 32px;
}

nav ul {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
  text-decoration: none;
}

nav ul li {
    margin: 8px;

}

nav li a{
  text-decoration: none;
  color: #21409a;
  padding: 2px;
  color: ;
}
.content {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 128px;
  letter-spacing: -13px;
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  color: #fff;
  margin-top: 16px;
  margin-bottom: 16px;
}

.title {
  padding: 12px 28px 0px 12px;
  background-color: #fed70e;
}

h2 {
  font-size: 64px;
  letter-spacing: -2px;
  font-family: 'Comfortaa', sans-serif;
  margin-top: 0px;
  margin-bottom: 8px;
  line-height: 69px;
  color: #21409a;
  font-weight: lighter;
}

h3 {
  font-size: 32px;
  font-family: 'Comfortaa', sans-serif;
  margin-left: 8px;
  color: #ffffff;
  margin: 32px;
}

h3 a {
    color: #ffffff;
    text-decoration: none;
}

h3 a::after {
  margin-left: 8px;
  content: '>';
  text-decoration: none;
}

.big {
  font-size: 182px;
  font-weight: lighter;
}

.period {
  margin-left: 8px;
  color: #21409a;
}

p {
  text-align: justify;
  font-size: 32px;
  margin-top: 0px;
  line-height: 40px;
}

a {
  color: #21409a;
}

.column-6 {
  width: 46%;
  vertical-align: top;
  display: inline-block;
  margin: 1%;
  background-color: #21409a;
}

.column-8 {
  width: 66%;
  vertical-align: top;
  display: inline-block;
  margin: auto;
}

.row {
  width: 100%;
  position: relative;
  margin-bottom: 32px;
}

.square {
  height: 256px;
  width: 256px;
  background-color: #fed70e;
  font-family: 'Comfortaa', sans-serif;
  display: inline-block;
  margin-right: 36px;
}

.square::after {
  content:'';
  height: 256px;
  width: 256px;
  border: 4px solid #21409a;
  position: absolute;
  top: 16px;
  left: 16px;
}

img {
  width: 100%;
}